In [3]:
import pandas as pd
import seaborn as sns

In [ ]:
fuel_data = pd.read_csv('fuel_ferc1.csv')

In [5]:
##mising values
##fuel_unit column
##180 total missing values
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [6]:
##percentage of missing data
data_missing = fuel_data.isna()

In [7]:
##percentage of missing data
data_num_missing = data_missing.sum()

In [8]:
##percentage of missing data
##answer = 0.006097
data_num_missing / len(fuel_data)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.006097
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [9]:
##fuel type code with lowest average fuel cost per unit burned
## answer = waste
fuel_data['fuel_cost_per_unit_burned'].min()
fuel_data[fuel_data['fuel_cost_per_unit_burned']== -276.08]

                    record_id  ...  fuel_cost_per_mmbtu
7733  f1_fuel_2000_12_194_3_3  ...               -8.906

[1 rows x 11 columns]

In [10]:
##standard deviation = 10.60
##75th percentile = 17.00
##of fuel_mmbtu_per_unit

fuel_data.describe(include = 'all')

                    record_id  ...  fuel_cost_per_mmbtu
count                   29523  ...         29523.000000
unique                  29523  ...                  NaN
top     f1_fuel_1996_12_6_0_2  ...                  NaN
freq                        1  ...                  NaN
mean                      NaN  ...            19.304354
std                       NaN  ...          2091.540939
min                       NaN  ...           -41.501000
25%                       NaN  ...             1.940000
50%                       NaN  ...             4.127000
75%                       NaN  ...             7.745000
max                       NaN  ...        359278.000000

[11 rows x 11 columns]

In [36]:
fuel_data['fuel_type_code_pudl'].value_counts()

gas        11486
coal        8547
oil         8064
nuclear      818
waste        441
other        167
Name: fuel_type_code_pudl, dtype: int64

In [12]:
##kurtosis
fuel_data[['fuel_qty_burned']].kurt(axis=0)

fuel_qty_burned    651.36945
dtype: float64

In [13]:
##skewness
fuel_data[['fuel_qty_burned']].skew(axis=0, skipna=True)

fuel_qty_burned    15.851495
dtype: float64

In [14]:
fuel_data[fuel_data['fuel_cost_per_unit_delivered'] == 7964521.0]

                  record_id  ...  fuel_cost_per_mmbtu
3564  f1_fuel_1997_12_9_0_8  ...                0.578

[1 rows x 11 columns]

In [15]:
##features with 2nd and 3rd lowest correlation with fuel
##cost per unit burned

fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [17]:
fuel_data[fuel_data['fuel_type_code_pudl'] == 'coal']

                      record_id  ...  fuel_cost_per_mmbtu
0         f1_fuel_1994_12_1_0_7  ...                1.121
1        f1_fuel_1994_12_1_0_10  ...                1.120
2         f1_fuel_1994_12_2_0_1  ...                1.650
3         f1_fuel_1994_12_2_0_7  ...                1.970
5        f1_fuel_1994_12_2_0_13  ...                1.850
...                         ...  ...                  ...
29503  f1_fuel_2018_12_191_1_14  ...                1.497
29510   f1_fuel_2018_12_403_0_2  ...                1.130
29516    f1_fuel_2018_12_12_0_8  ...                1.100
29517   f1_fuel_2018_12_12_0_10  ...                0.890
29521   f1_fuel_2018_12_12_1_13  ...                1.110

[8547 rows x 11 columns]